/*
 * m200.dtsi - Device Tree Source Interface for M200 SoC
 * Copyright (C) Harvis Wang<jiankangshiye@aliyun.com>
 */

/ {
    #address-cells = <1>;
    #size-cells    = <1>;
    compatible = "ingenic,m200";

    cpus {
        #address-cells = <1>;
        #size-cells    = <0>;

        cpu@0 {
            device_type = "cpu";
            reg = <1>;
            d-cache-line-size = <0x20>;	/* 32 bytes */
            i-cache-line-size = <0x20>;	/* 32 bytes */
            d-cache-size = <0x8000>;	/* L1, 32K */
            i-cache-size = <0x8000>;	/* L1, 32K */
            timebase-frequency = <49500000>;/* 49.5 MHz (csb/4) TBD */
            clock-frequency = <1008000000>;
        };
    };

    cpuintc: interrupt-controller {
        compatible = "mti,cpu-interrupt-controller";
        #address-cells   = <0>;
        #interrupt-cells = <1>;
        interrupt-controller;
    };

    soc@10000000 {
        compatible = "simple-bus";
        #address-cells      = <1>;
        #size-cells         = <1>;
        device_type = "soc";
        ranges = <0x10000000 0xB0000000 0x00100000>;
        bus-frequency = <0>;
        reg = <0x10000000 0x02000000>; /* TODO */

        intc: interrupt-controller@10001000 {
            compatible = "ingenic,m200-intc";
            reg = <0x10001000 0x00000100>;

            interrupt-controller;
            #interrupt-cells = <1>;

            interrupt-parent = <&cpuintc>;
            interrupts = <2>;
        };

        clocks {
            #address-cells = <1>;
            #size-cells = <0>;

            osc: oscillator {
                ompatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency = <24000000>;
            };
        };

        uart0: serial@10030000 {
            compatible = "ingenic,m200-uart";
            reg = <0x10030000 0x00000100>;

            interrupt-parent = <&intc>;
            interrupts = <51>;

            clocks = <&osc>;

            status = "disabled";
        };

        uart1: serial@10031000 {
            compatible = "ingenic,m200-uart";
            reg = <0x10031000 0x00000100>;

            interrupt-parent = <&intc>;
            interrupts = <50>;

            status = "disabled";
        };

        uart2: serial@10032000 {
            compatible = "ingenic,m200-uart";
            reg = <0x10032000 0x00000100>;

            interrupt-parent = <&intc>;
            interrupts = <49>;

            status = "disabled";
        };

        uart3: serial@10033000 {
            compatible = "ingenic,m200-uart";
            reg = <0x10033000 0x00000100>;

            interrupt-parent = <&intc>;
            interrupts = <48>;

            status = "disabled";
        };

        uart4: serial@10034000 {
            compatible = "ingenic,m200-uart";
            reg = <0x10034000 0x000000100>;

            interrupt-parent = <&intc>;
            interrupts = <34>;

            status = "disabled";
        };

        ost: ost@10002000 {
            compatible = "ingenic,m200-ost";
            reg = <0x10002000 0x00000100>;

            interrupt-parent = <&intc>;
            interrupts = <27>;

            status = "disabled";
        };

        timer0: timer@10002040 {
            compatible = "ingenic,m200-timer";
            reg = <0x10002040 0x0000000C>;

            interrupt-parent = <&intc>;
            interrupts = <25>;

            status = "disabled";
        };

        timer1: timer@10002050 {
            compatible = "ingenic,m200-timer";
            reg = <0x10002050 0x0000000C>;

            interrupt-parent = <&intc>;
            interrupts = <25>;

            status = "disabled";
        };

        timer2: timer@10002060 {
            compatible = "ingenic,m200-timer";
            reg = <0x10002060 0x0000000C>;

            interrupt-parent = <&intc>;
            interrupts = <25>;

            status = "disabled";
        };

        timer3: timer@10002070 {
            compatible = "ingenic,m200-timer";
            reg = <0x10002070 0x0000000C>;

            interrupt-parent = <&intc>;
            interrupts = <25>;

            status = "disabled";
        };

        timer4: timer@10002080 {
            compatible = "ingenic,m200-timer";
            reg = <0x10002080 0x0000000C>;

            interrupt-parent = <&intc>;
            interrupts = <25>;

            status = "disabled";
        };

        timer5: timer@10002090 {
            compatible = "ingenic,m200-timer";
            reg = <0x10002090 0x0000000C>;

            interrupt-parent = <&intc>;
            interrupts = <26>;

            status = "disabled";
        };

        timer6: timer@100020A0 {
            compatible = "ingenic,m200-timer";
            reg = <0x100020A0 0x0000000C>;

            interrupt-parent = <&intc>;
            interrupts = <25>;

            status = "disabled";
        };

        timer7: timer@100020B0 {
            compatible = "ingenic,m200-timer";
            reg = <0x100020B0 0x0000000C>;

            interrupt-parent = <&intc>;
            interrupts = <25>;

            status = "disabled";
        };

        gpio0: gpio-controller@10010000 {
            compatible = "ingenic,m200-gpio";
            reg = <0x10010000 0x00000100>;

            interrupt-controller;
            #interrupt-cells = <2>; /* cell[0] hwirq, cell[1] irq type
                                     * cell[1] note:
                                     * 0: IRQ_TYPE_NONE
                                     * 1: IRQ_TYPE_EDGE_RISING
                                     * 2: IRQ_TYPE_EDGE_FALLING
                                     * 3: IRQ_TYPE_EDGE_BOTH
                                     * 4: IRQ_TYPE_LEVEL_HIGH
                                     * 8: IRQ_TYPE_LEVEL_LOW
                                     */

            interrupt-parent = <&intc>;
            interrupts = <17>;

            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <32>;

            status = "disabled";
        };

        gpio1: gpio-controller@10010100 {
            compatible = "ingenic,m200-gpio";
            reg = <0x10010100 0x00000100>;

            interrupt-controller;
            #interrupt-cells = <2>;

            interrupt-parent = <&intc>;
            interrupts = <16>;

            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <32>;

            status = "disabled";
        };

        gpio2: gpio-controller@10010200 {
            compatible = "ingenic,m200-gpio";
            reg = <0x10010200 0x00000100>;

            interrupt-controller;
            #interrupt-cells = <2>;

            interrupt-parent = <&intc>;
            interrupts = <15>;

            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <32>;

            status = "disabled";
        };

        gpio3: gpio-controller@10010300 {
            compatible = "ingenic,m200-gpio";
            reg = <0x10010300 0x00000100>;

            interrupt-controller;
            #interrupt-cells = <2>;

            interrupt-parent = <&intc>;
            interrupts = <14>;

            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <32>;

            status = "disabled";
        };

        gpio4: gpio-controller@10010400 {
            compatible = "ingenic,m200-gpio";
            reg = <0x10010400 0x00000100>;

            interrupt-controller;
            #interrupt-cells = <2>;

            interrupt-parent = <&intc>;
            interrupts = <13>;

            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <32>;

            status = "disabled";
        };

        gpio5: gpio-controller@10010500 {
            compatible = "ingenic,m200-gpio";
            reg = <0x10010500 0x00000100>;

            interrupt-controller;
            #interrupt-cells = <2>;

            interrupt-parent = <&intc>;
            interrupts = <12>;

            gpio-controller;
            #gpio-cells = <2>;
            ngpios = <32>;

            status = "disabled";
        };
    };
};
